@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'UnitedSansCondBold';
  src: url('/fonts/UnitedSansCondBold.otf.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.font-semibold text-lg{
    font-family: 'UnitedSansCondBold', sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
}